h1{	
	top: 1%;
	left: 3%;
	font-size: 26px;
	position: fixed;
	font-family: helvetica;
}

nav{
	top: 6%;
	left: 72%;
	float: right;
	position: fixed;
	background-color:white;
} 

nav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
	padding-top: 100px;
	font-family: helvetica;
	font-size: 14px;
	font-weight: bold;
}

a:hover {
			 text-decoration: line-through;
		}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

/* Change the text decoration to line through on hover */
li a:hover {
	position: relative;
    text-decoration: line-through;
}

body {
	padding-left: 5px;
	border-top-width: 2px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
	h2 {
		font-family: helvetica;
		font-size: 18 px;
		font-style: normal;
	}

	h3{
		font-family: helvetica;
		font-size: 14px;
		text-decoration: underline;
	}

p{
		font-family: helvetica;
		font-size: 14px;
	}

.content{
	width:30%;
	float:right;
	margin-right:15%;
	margin-top: 20px;
	padding-bottom: 350px;
}

article {
	overflow: auto;
	padding:3%;
	padding-top: 70px;
}

.images{
	margin-top: 40px;
}

