body {
	background-color: #1b2326;
	padding-left: 80px;
	border-top-color: #f8695a;
	border-top-style: solid;
	border-top-width: 2px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
	h2 {
		color: white;
		font-family: Quatro slab;
		font-size: 18 px;
		font-style: normal;
	}

	h3{
		color: white;
		font-family: Quatro Slab;
		font-size: 24 px;
    	padding-top: 35px;
    	padding-bottom: 35px;
		border-top-color: #31393b;
		border-top-style: dotted;
		border-top-width: 1px;
	}

h4 {
	color: #555a5b;
	font-size: 16 px;
}

.content{
	width:30%;
	float:left;
	margin-right:5%;
	padding-bottom: 350px;
}

h5 {
	color: #abadad;
	font-family: LFT Etica;
	font-size: 16 px;
}

article {
	overflow: auto;
	padding:3%;
	border-bottom-style: solid;
	border-bottom-color: #31393b;
	border-bottom-width: 1px;
	padding-top: 70px;
}

.productimage {
}

button
{
	display: block;
	width: 121px;  height: 42px;
	font-size: 14px;
	font-weight: semibold;
	text-transform: uppercase;
	padding: 0px 0px;
	margin: 20px auto;
	color: #ffffff;
	background-color: #01ccce;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#01ccce, #01ccce);
	border: 0 none;
	border-radius: 0px;
	text-shadow: none;
	box-shadow: none;
	cursor: pointer;
	position:absolute;
	left:60px;
	top:0px;
}

a {
    color: #01bfc1;
}

.link{
	float:none
	color: #555a5b;
	font-size: 16 px;
}

.buttonbox{
	position:relative;
}

@media (max-width: 859px) {
	h2{
		font-size: 12px;
	}
	h3{font-size: 18px;
	}
	h4{font-size: 10px;
	}
	h5{font-size: 16px;
	}
	.content{width:20%;

	}
}

@media (min-width: 860px) {
	h2{
		font-size: 18pt;
	}
	h3{font-size: 24px;
	}
	h4{font-size: 16px;
	}
	h5{font-size: 16px;
	}
	.content{width:30%;
}

h2, h3, h4, h5{transition-duration: 1s;}
